/* body {
    display: flex;
    flex-direction: column;
    background-color: #F3F2F7;
}


.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
} */

i {
    font-size: .6em
}

#disclaimer {
    margin-bottom: 4em;
}