.custom-headerFilter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mcdm-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.1em;
    column-gap: 2px;
    left: 0;
    right: 0;
}

.tabulator-col-title{
    font-size: .9rem;
}
/* input[type='range'] {
    -webkit-appearance: none;
    background-color: #9a905d;
} */

input[type="range"] {
    width: 100%;
}

/* input[type="range"]::-moz-range-track {
    background: red;
}
  
input[type="range"]::-ms-track {
    background: red;
} */

.filter-container {
    display: flex;
    flex-direction: row;
    margin-bottom:0.2em;
}

.btn-circle{
    width: 1.8em;
    height: 1.8em;
    border-radius: .9em;
    text-align: center;
    padding: 0;
    vertical-align: middle;
}