:root {
    --content-margin: 300px;
}

* {
    margin: 0;
}

body {
    background-color: #F3F2F7;
}

/* a {
    text-decoration: none;
    color: white;
} */

.navbar-container{
    background-color: #F25939;
    color: white;
    margin-right: 0;
    margin-left: 0;
    padding-left: var(--content-margin);
    padding-right: var(--content-margin);
    height: 79px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

#logo-home {
    font-family: "Black Han Sans", Calibri, "Times New Roman";
    font-size: 2.5em;
    text-decoration: none;
    color: white;
}

.menu-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Inter", Calibri, "Times New Roman";
}

.menu-items a{
    font-size: 1.25em;
    margin-left: 90px;
    text-decoration: none;
    color: white;
}



