:root {
    --content-margin: 300px;
}

* {
    margin: 0;
    /* border: 1px solid black; */
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #F3F2F7;
}

/* a {
    text-decoration: none;
    color: white;
} */

.navbar-container{
    background-color: #F25939;
    color: white;
    margin-right: 0;
    margin-left: 0;
    padding-left: var(--content-margin);
    padding-right: var(--content-margin);
    height: 79px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-container ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#logo-home {
    font-family: "Black Han Sans", Calibri, "Times New Roman";
    font-size: 2.5em;
    text-decoration: none;
    color: white;
}

.menu-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 90px;
    font-family: "Inter", Calibri, "Times New Roman";
}

.menu-items a{
    font-size: 1.25em;
    text-decoration: none;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}

.slider-container {
    height: 200px;
    margin-top: 50px;
    margin-bottom: 75px;
    margin-right: 10px;
    margin-left: 10px;
    align-self: stretch;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    flex-basis: 80px;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

table {
    height: 550px;
    margin-right: var(--content-margin);
    margin-left: var(--content-margin);
    align-self: stretch;
}

input[type="range"] {
    appearance: slider-vertical;
    width: 50px;
    margin-right: 10px;
}

.slider div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

form {
    display: flex;
    flex-direction: row;
}