{%extends "base.html" %}

<!-- {%block title%} {{super()}} {%endblock%} -->

{%block head%}
{%endblock%}

{%block content%}

<div class = "content">
    <form action="/" >
        {%for i in range(0,num_sliders)%}
        <div class = "slider-container">
            <select name="Criterion-{{i}}" class = "slider">
            {%for ii in range(0, matprop_len)%}
                <option value = "{{material_properties[ii]}}">{{material_properties[ii]}}</option>
            {%endfor%}
            </select>
            <input class="input-range" orient="vertical" id = "sliderRange-{{i}}" type="range" step="1" value="0" min="-10" max="10">
            <div id = "sliderValue-{{i}}"></div>
        </div>
        {%endfor%}
    </form>
    <script>
        const rangeSlider_array = [];
        const output_array = [];
        for (let i = 0; i < 5; i++) {
            let rangeID = "sliderRange-"+i;
            let valueID = "sliderValue-"+i;
            rangeSlider_array.push(document.getElementById(rangeID));
            output_array.push(document.getElementById(valueID));
            output_array[i].innerHTML = rangeSlider_array[i].value;
            
            rangeSlider_array[i].oninput = function() {
                output_array[i].innerHTML = this.value;
            }
        }
    </script>
    <table class = "material_table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Cost</th>
                <th>Machineability</th>
                <th>Elastic Modulus</th>
                <th>Yield Strength</th>
                <th>Ultimate Strength</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(10)%}
            <tr>
                <td>{{datasheets[i].name}}</td>
                <td>{{datasheets[i].cost}}</td>
                <td>{{datasheets[i].machineability}}</td>
                <td>{{datasheets[i].elastic_mod}}</td>
                <td>{{datasheets[i].yield_strength}}</td>
                <td>{{datasheets[i].ult_strength}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}