{%extends "base.html" %}

<!-- {%block title%} {{super()}} {%endblock%} -->

{%block head%}
<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
{%endblock%}


{%block content%}
<div id="content" class = "content">
    <form action="/" id="criterion-forms" method = "POST">
        {%for i in range(num_sliders)%}
        <div class = "slider-container">
            <div>{{material_properties[i]}}</div>
            <input class="input-range" orient="vertical" id = "sliderRange-{{i}}" v-model="value{{i}}" name = "sliderRange-{{i}}" type="range" step="1" value="0" min="-10" max="10" 
                @input="isSliding = true" @mouseup="isSliding = false; handleSliderChange()">
            <div id = "sliderValue-{{i}}">[[value{{i}}]]</div>
        </div>
        {%endfor%}
    </form>
    <div id="table"></div>
</div>
{% endblock %}

{%block scripts%}
<script src="{{url_for('static', filename='main_table.js')}}"></script>
<script src="{{url_for('static', filename='formLogic.js')}}" type = "module"></script>
{% endblock %}


