{%extends "base.html" %}

<!-- {%block title%} {{super()}} {%endblock%} -->

{%block head%}
<script> var isAuthenticated = {{ current_user.is_authenticated | lower | tojson }}; </script>
<link href="https://unpkg.com/tabulator-tables@5.5.0/dist/css/tabulator_bootstrap5.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.5.0/dist/js/tabulator.min.js"></script>
<style>
    .tabulator-cell.cell-blur {
        filter: blur(.4rem);
    }
</style>
{%endblock%}


{%block content%}
<div id="content" class = "d-flex flex-column align-items-center">
    <div class="d-flex flex-column">
        <div class = "d-flex flex-row m-1 gap-4  align-items-center">
            <div id="dataChoiceRadio" class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="gen-btnradio" autocomplete="off" value="general" >
                <label class="btn btn-outline-primary" for="gen-btnradio">General</label>
              
                <input type="radio" class="btn-check" name="btnradio" id="fatigue-btnradio" autocomplete="off" value="fatigue" checked>
                <label class="btn btn-outline-primary" for="fatigue-btnradio">Fatigue</label>
              </div>
            <div id="TOPSIS" class="form-check form-switch flex-grow-1">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">TOPSIS filtering</label>
            </div>
            <a href="/login">Login to remove ads</a>
        </div>
        <div id="table" style="width: 80vw; height: 85vh;" class="table-bordered table-sm"></div>
        <!-- {%if not current_user.is_authenticated%}
        <div id="anon-btn" class = "d-grid" style= "z-index: 3;">
            <button type="button" onclick="window.location.href = '/register';" class="btn btn-info mb-3">Sign Up</button>
            <button type="button" onclick="window.location.href = '/login';" class="btn btn-info">Login</button>
        </div>
        {%endif%} -->
    </div>
    <!-- <i class ="mt-2">*data should not be trusted for mission critical apps</i>
    <i id = "disclaimer">**Ranks are determined through multi-criterion decision making algorithm, using your importance values and objectes as inputs</i> -->
</div>
<script src="{{url_for('static', filename='table.js')}}" type = "module"></script>
{% endblock %}

{%block scripts%}
<link rel="stylesheet" type ="text/css" href="{{ url_for('static',filename='table.css') }}">
<link rel="stylesheet" type ="text/css" href="{{ url_for('static',filename='toggle.css') }}">
{% endblock %}